<!DOCTYPE html>
<html>
    <head>
        <title>Global Solution - Automated Machine Learning & Mobile Deploy</title>
    </head>
    <body>
        <h1>Formulário</h1>
        {% if result %}
        <h3>Producao Estimada: {{ result }}</h3>
        <a href="/predict">Estimar Novamente</a>
        {% endif %}
        {% if result == None %}
        <form action="/predict" method="POST">
            <label for="especie">Especie:</label>
            <input type="text" id="especie" name="especie" required><br><br>

            <label for="categoria">Categoria:</label>
            <select id="categoria" name="categoria" required>
                <option value="Genetica">Genetica</option>
                <option value="Basica">Basica</option>
                <option value="C1">C1</option>
                <option value="C2">C2</option>
                <option value="S1">S1</option>
                <option value="S2">S2</option>
            </select><br><br>

            <label for="cultivar">Cultivar:</label>
            <input type="text" id="cultivar" name="cultivar" required><br><br>

            <label for="municipio">Municipio:</label>
            <input type="text" id="municipio" name="municipio" required><br><br>

            <label for="uf">UF:</label>
            <input type="text" id="uf" name="uf" required><br><br>

            <label for="diaPlantio">Dia Plantio:</label>
            <input type="number" id="diaPlantio" name="diaPlantio" required><br><br>

            <label for="mesPlantio">Mes Plantio:</label>
            <input type="number" id="mesPlantio" name="mesPlantio" required><br><br>

            <label for="anoPlantio">Ano Plantio:</label>
            <input type="number" id="anoPlantio" name="anoPlantio" required><br><br>

            <label for="area">Area:</label>
            <input type="number" id="area" name="area" required><br><br>

            <input type="submit" value="Estimar">
        </form>
        {% endif %}
    </body>
</html>
